@-moz-document url-prefix("https://mymasonportal.gmu.edu") {
:root {
    /* color palette */
    --background-color:  #141515;
    --background-color-2: #202222;
    --background-color-3: #2c2f2f;
    --primary-color: rbg(00 102 51 / .98);
    --nav-color: #1B241F;
    --block-text-color: #ededed;
    --accent-color-1: #00AB5E;
    --accent-color-2: #26332c;
    --accent-color-3: #0a3624;
    --accent-color-4: #ffd700;
    --link-color: #2A99D7;
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/institution-page") {

.institution-page-container {
    background-color: var(--background-color);
}

/* Side Bar tweak
.bb-inner-wrap,
.side-menu-footer {
    background-color: var(--nav-color);
    color: white;
}
*/

.institution-page-container .subheader {
    color: white;
}

.institution-page-container p {
    color: var(--block-text-color);
}

.institution-page-container ul :not(a) {
    color: var(--block-text-color);
}

.content-component__container {
    background-color: var(--background-color-2);
}
.content-component__container li span {
    color: var(--accent-color-1) !important;
}
.content-component__container a {
    color: var(--link-color);
}

.banner__logo-container {
    background-color: var(--background-color-2) !important;
    border-radius: 20%;
}
.image-links-component__container div{
   background-color: var(--background-color-2) !important;
    color: var(--block-text-color) !important;
}
.image-links-component__container div a{
    color: var(--block-text-color) !important
}
}

@-moz-document url("https://mymasonportal.gmu.edu/"), url("https://mymasonportal.gmu.edu/?new_loc=*") {
/* Pre-Login Page */

#login-block .bbResources,
#login-block .bbResources p,
#login-block .systemAnnouncementsLogin,
#login-block .systemAnnouncementsLogin p,
#login-block .login-form span,
#login-block .login-form {
    background-color: var(--background-color) !important;
    color: var(--block-text-color) !important;
}
#login-block .bbResources h1,
#login-block .systemAnnouncementsLogin h1,
#login-block .login-form h1 {
    color: white;
}
#login-block .systemAnnouncementsLogin a,
#login-block .login-form a {
    color: var(--link-color);
}
#login-block .bbResources a {
    color: var(--accent-color-1);
}
.link-list-component__list-item a:hover {
    background-color: blue !important;
}
}

@-moz-document url-prefix("https://shibboleth.gmu.edu") {
/* Login Page */

:root {
    /* color palette */
    --background-color:  #141515;
    --primary-color: rbg(00 102 51 / .98);
    --background-color-2: #202222;
    --nav-color: #1B241F;
    --block-text-color: #ededed;
    --accent-color-1: #00AB5E;
    --link-color: #2A99D7;
    --accent-color-2: #26332c;
    --accent-color-3: #0a3624;
}
a,
.content,
.wrapper {
    background-color: var(--background-color) !important;
}

input {
    color: var(--block-text-color);
    background-color: var(--background-color-2)
}
input:focus,
label {
    color: var(--block-text-color) !important;
}
footer {
    background-color: var(--accent-color-3);
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/profile") {
/* Profile Page */

#body-content {
    background-color: var(--background-color);
    color: white !important;
}
#body-content section h2 {
    color: white;
}
section li {
    background-color: var(--background-color-2) !important;
    color: var(--block-text-color) !important;
}
section li span[ng-if],
section li a {
    color: var(--link-color);
}
svg {
    fill: white !important;
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/tools") {
/* Tools Page */
div.black-panel-header {
    background-color: var(--nav-color);
}
#main-content {
    background-color: var(--background-color);
}
div[bb-first-time-container] span,
div[bb-first-time-container] h1 {
    color: white !important;
}
.grid-item a {
    background-color: var(--background-color-2) !important;
    color: var(--text-block-color) !important;
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/stream") {
/* Activity Stream Page */
.base-header {
    background-color: var(--accent-color-3) !important;
    color: white !important;
}
.base-header .select-wrapper {
    background-color: var(--background-color-3);
}
#body-content {
    background-color: var(--background-color-2);
}
#main-content-inner h1,
#main-content-inner h2,
#main-content-inner a,
#main-content-inner span {
    color: var(--block-text-color) !important;
}
#main-content-inner .js-show-more {
    color: var(--link-color);
}
.content .summary {
    color: var(--block-text-color) !important;
}
#main-content-inner .anchor {
    color: var(--link-color);
}
.activity-feed li:hover {
    background-color: var(--background-color) !important;
}

}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/course") {
/* Courses Page */
.base-header {
    background-color: var(--accent-color-3) !important;
    color: white !important;
}
.base-header .select-wrapper {
    background-color: var(--nav-color);
}

#main-content-inner :is(h1, h2, h3, h4, bdi, a, span, label, div){
    color: var(--block-text-color) !important;
}
.term-navigator {
    background-color: var(--nav-color) !important;
}
#main-content {
    background-color: var(--background-color) !important;
}
bb-base-course-card article {
    background-color: var(--background-color-2) !important;
        color: var(--block-text-color) !important;
}
#main-content-inner input,
#main-content-inner input:focus {
    background-color: var(--background-color);
    color: var(--block-text-color);
}
.element-details div {
    color: white !important;
}
.square-toggle {
    background-color: var(--background-color) !important;
}
label.label-one,
label.label-two {
        background-color: var(--background-color) !important;
}
.course-filter-select {
    color: var(--block-text-color);
}
.course-filter-select .select-wrapper {
    background-color: var(--background-color-3);
}
.page-size-component div[class^="makeStylesroot"] button{
    background-color: var(--background-color-3);
}
bb-paging-selector div[class^="makeStylesroot"] button{
    background-color: var(--background-color-3);
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/organization") {
/* Organizations Page */

.base-header {
    background-color: var(--accent-color-3) !important;
}
.term-navigator {
    background-color: var(--nav-color) !important;
}
#main-content-inner :is(h1, h2, h3, h4, bdi, a, span, label, div){
    color: var(--block-text-color) !important;
}
#main-content-inner {
    background-color: var(--background-color);
}

.course-filter-select {
    color: var(--block-text-color);
}
.course-filter-select .select-wrapper {
    background-color: var(--background-color-3);
}
bb-base-course-card article {
    background-color: var(--background-color-2) !important;
        color: var(--block-text-color) !important;
}
#main-content-inner input,
#main-content-inner input:focus {
    background-color: var(--background-color);
    color: var(--block-text-color);
}

.element-details div {
    color: white !important;
}
.square-toggle {
    background-color: var(--background-color) !important;
}

label.label-one,
label.label-two {
        background-color: var(--background-color) !important;
}
.page-size-component div[class^="makeStylesroot"] button{
    background-color: var(--background-color-3);
}
bb-paging-selector div[class^="makeStylesroot"] button{
    background-color: var(--background-color-3);
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/calendar") {
/* Calendar Page */

.base-header {
    background-color: var(--accent-color-3) !important;
}
#main-content-inner :is(h1, h2, h3, h4, bdi, a, span){
    color: var(--block-text-color) !important;
}
#main-content-inner {
    background-color: var(--background-color-2);
}
ul.button-group .right-button,
ul.button-group .left-button {
    background-color: var(--background-color-3) !important;
    color: white !important;
}
ul.button-group .active-switch {
    background-color: var(--background-color) !important;
}
div.fc-event-container .fc-bg {
    background-color: black;
}
li.date button  {
    color: white !important;
}

}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/messages") {
/* Messages Page */

.base-header {
    background-color: var(--accent-color-3) !important;
}
#main-content-inner :is(h1, h2, h3, h4, bdi, a, span){
    color: var(--block-text-color) !important;
}
#main-content-inner {
    background-color: var(--background-color);
}
div.messages-header {
    background-color: var(--background-color-2);
}
}

@-moz-document url("https://mymasonportal.gmu.edu/ultra/grades") {
/* Grades Page */

.base-header {
    background-color: var(--accent-color-3) !important;
}
#main-content-inner :is(h1, h2, h3, h4, bdi, a, span){
    color: var(--block-text-color) !important;
}
div.slick-header {
    background-color: var(--nav-color);
}
#main-content-inner {
    background-color: var(--background-color);
}
div.tile {
    background-color: var(--background-color-2) !important;
}
div.current-grade div {
    background-color: var(--background-color-3) !important;
}
}
